/* DisplayPopup.css */
.display-popup {
    left: 1vw;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  
  /* Flexbox row for aligning label and select elements */
  .popup-row {
    display: flex;
    column-gap: 7vw;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .popup-row h3 {
    color: gray;
    margin: 0;
    font-size: 16px;
  }
  
  .popup-row select {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  